<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/yusukesnap/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/yusukesnap/css/main.css') }}">
    {% endblock stylesheets %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
    <title>表参道のメンズファッション</title>
</head>
<body>


<div class="container">
 <a href="{{ path('list') }}"><h1>表参道のメンズファッション</h1></a>
 {% block socialbutton %}{{ include('YusukeSnapBundle::socialbutton.html.twig') }}{% endblock %}
    <p>表参道でファッションスナップを撮っています。毎日更新。撮影のご依頼は<a href="https://twitter.com/yusukehigaki22">こちら。</a></p>
    <hr>

    {% block content %}{% endblock %}
<!--    <img src="{{ asset('img/bolo_ad.png') }}"> -->

<footer>
    <p class="copyright">&copy; 2014 Yusuke Higaki</p>
</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bundles/yusukesnap/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>



