{% extends 'YusukeSnapBundle::base.html.twig' %}
{% block content %}
    <div class="ninja_onebutton">
        <script type="text/javascript">
            //<![CDATA[
            (function(d){
                if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_b6d8a16d170356c19efb230e95903d39)=='undefined'){
                    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/b6d8a16d170356c19efb230e95903d39'><\/sc"+"ript>");
                }else{
                    window.NINJA_CO_JP_ONETAG_BUTTON_b6d8a16d170356c19efb230e95903d39.ONETAGButton_Load();}
            })(document);
            //]]>
        </script>
        <span class="ninja_onebutton_hidden" style="display:none;">{{ Model.url }}</span>
        <span style="display:none;" class="ninja_onebutton_hidden">表参道のファッションスナップ</span>
    </div>

    名前 : {{ Model.name }} <br>
    年齢 : {{ Model.age }} <br>
    トップス : {{ Model.tops }} <br>
    インナー : {{ Model.inner }} <br>
    ボトムス : {{ Model.bottom }} <br>
    バッグ : {{ Model.bag }} <br>
    シューズ : {{ Model.shoes }} <br>
    ウォッチ : {{ Model.watch }} <br>
    サングラス : {{ Model.glasses }} <br>
    {{ Model.updatedAt|date('Y-m-d') }}

    <img src="{{ Model.pic1 }}">
    <img src="{{ Model.pic2 }}">
    <img src="{{ Model.pic3 }}">

    {% if NextModelUrl is not null %}<a href="{{ NextModelUrl }}">←最近の投稿</a>{% endif %} /
    {% if PrevModelUrl is not null %}<a href="{{ PrevModelUrl }}">以前の投稿→</a>{% endif %}

{% endblock %}